NEXT_PUBLIC_TOKEN_INDEX_ADDRESS=
NEXT_PUBLIC_ETH_FAUCET_ADDRESS=
NEXT_PUBLIC_TESTNET=

# Mac/Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
NEXT_IRON_PASSWORD=
DATABASE_URL=

WRITER_PRIVATE_KEY=

DISCORD_BOT_TOKEN=
