@tailwind base;
@tailwind components;
@tailwind utilities;

.graph-tooltip {
  background: unset !important;
}

@layer base {
  html {
    font-family: var(--font-family-sans), sans-serif;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 240 7% 3%;
    --card: 0 0% 100%;
    --card-foreground: 240 7% 3%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 7% 3%;

    --primary: 213 90% 35%;
    --primary-foreground: 0 100% 100%;

    --secondary: 163 90.9% 38.6%;
    --secondary-foreground: 0 100% 100%;

    --muted: 240 4% 95%;
    --muted-foreground: 240 3% 46%;

    --accent: 240 4% 95%;
    --accent-foreground: 240 6% 10%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 217 100% 91%;
    --radius: 0.5rem;

    --warning: 38 92% 50%;
    --warning-foreground: 48 96% 89%;

    --success: 120 40.8% 50.6%;
    --success-foreground: 120 85.7% 97.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
/* * {
  outline: 1px solid #f00 !important;
  opacity: 1 !important;
  visibility: visible !important;
} */
